@media only screen and (orientation:landscape)
{

    .container-photos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 7%;
        gap: 2rem;
    }
img{
    width: 100%;
    object-fit: cover;
    min-height:100%;
    border-radius: 50%;
}
}
@media only screen and (orientation:portrait)
{
    img {
        width: 50%;
        border-radius: 50%;
    }
}

img:hover {
    border-radius: 20%;
}
.center {
    text-align: center;
}
body {
    /*background: radial-gradient(black, grey, whitesmoke, white);*/
    background: radial-gradient(whitesmoke,grey, black);
    color: white;

}
#titre {
    background-color: rgba(0,0,0,0.4);
    max-width: 50%;
    padding: 1%;
    margin: 1% auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(200, 150, 100, 0.5);
}
.name {
    width: 30%;
    padding: 3%;
    margin: 2% auto;
    border-radius: 15px;
    background-color: rgba(200, 150, 100, 0.5);
    box-shadow: 15px 15px 15px black;
    text-shadow: 0px 0px 1px red;
}
.white {
    color: white;
}
#liens {
    display: flex;
    justify-content: space-around;

    background-color: bisque;

}
.presentation {
    width: 50%;
    border: solid black 4px;
    padding: 5%;
    margin: 0 auto 2rem auto;
    border-radius: 40px;
}
a {
    font-size: 1.2rem;
    color: green;
}
section {

    background-color: brown;
    width: 30%;
    margin: 0 auto;
    border-radius: 100px;
}