

@font-face {
  font-display: swap;
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/GoogleSansCode[wght].ttf');
}

h1, h2, h3{
    font-family: Google Sans Code;
}

body{
    background-color: white;
    overflow-x:hidden;

}
header {
    display: flex;
    height: 94px;
    background-color: #fff;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    
}
/* dropdown */

    .dropdown{
    display: inline-block;
     
}

.dropdown button{
    background-color: oklab(55.605000000000004% -0.03694 -0.24263);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{         /*   */ 
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
.dropdown-content {  

    right: 0; 
    }


.pres {
    display: flex;
}

/*texte de présentation et lien cadre bleu*/
.textelink {
    width: 50%;
    color: white;
    display: block;
}
/*photo visage*/
.imagepres {
    width: 50%;
}


.entete {
    padding: 20% 10%;
    flex-direction: column;
    
}
.entete p {
    font-size: 1.5rem;
}
.entete h1
{
    color: white;
    font-size: 2rem;
}

.imagepres {
    align-items: flex-end;
}

.insc{
    color: #fff;
    background-color: #e74a34;
    display: block;
    padding: 10px ;
    width: 69%;
}
.link-container{
    display: flex;
    padding: 5%;
    flex-direction: row ;
    
    
}
.utilelink{
    font-size: 17px;
    
    
}
.icone{
    width: 34px;
    
}
.lientext{
    color: #fff;
    
}

.contain-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-grid {
    display: grid;
}

form {
    display: grid;
    padding: 0% 0%;
    margin: auto auto;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    margin: auto auto;
}
select {
    width: 100%;    
}
fieldset {
    width: 100px;
    background: linear-gradient(rgb(0, 162, 255), lightblue, cyan);
    border-radius: 50px;
}
.contain-flex {
    display: flex;
    margin: auto auto;
    padding: 0%;
    justify-content: center;
}
.input {

    overflow: scroll;
}
#message {
    height: 60px;
    width: 97%;
}
#envoyer {
    margin: 1rem auto;
    background-color: #e74a34;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
.bouton{
    padding: 1% 1%;
    font-variant: small-caps; 
    border: black solid 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    color: white;
    text-align: center;
}

.bouton:hover {
    background-color: rgba(10,10,10,0.8);
}

.question {
    width: 90%;
    margin: 2rem auto;
    color: black;
}

.liens-reseaux {
    display: flex;
    justify-content: space-between; 
}
.contain-box {

   display: grid;
}
.container-principal {
   background-color: #0062ff;
    justify-content: space-between;

}
/* Pour telephones */
@media only screen and (max-width:767px)
{
    .photo {
    width: 80%;
    margin: 2rem auto;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: rgb(31,31,31);
    color: white;
    padding: 50px 0px;

}
.logo {
    display: flex;
    width: 75%;
}

#gauche {
    padding: 5%;
}

.liste-liens {
    padding: 10%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
}

/* dipsplay:block pour les smartphones */
.accroche{
    display: block;
    padding: 5% 5%;
    justify-content: center;
    text-align: justify;
    margin: auto auto;
    }

}





/* pour ordinateurs */
@media only screen and (min-width: 768px) {

.photo {
    width: 50%;
    margin: 2rem auto;
}
    footer {
    padding: 50px 0px;
    display: flex;
    width: 100%;
    background-color: rgb(31,31,31);
    color: white;
}
.liste-liens {
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
}
/* flex  */
.accroche{

    display: flex;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin: auto auto;
}

}


p {
    font-size: 1rem;
}

h1
{
    color: black;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}
h3 {
    font-size: 1.2rem;
}
label {
    text-align: center;
}
.center {
        text-align: center;

    }
.mentions-legales {
    font-size: 0.5rem;
}





#rejoindre {
    color: black;
    background-color: white;


}
#telecharger {
    color: white;
    
    background-color: red;
}
a {
    text-decoration: none;
}