body {
    background-image: radial-gradient(black, yellow, green);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-color: black;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    height: 100vh;

}
.presentation {

    padding: 2%;
    justify-content: center;
    margin: 20% auto;
    width: 75%;
    background-color: rgba(255, 255, 0, 0.7);
    box-shadow: 2px 2px 10px white;
    border-radius: 40px;

}
.center {
    text-align:center;
}